DB_CONTAINER_NAME = riwi-cine-db
POSTGRES_USER = nodejs
POSTGRES_PASSWORD = 123456
POSTGRES_DB = postgres
POSTGRES_PORT = 5432

APP_CONTAINER_NAME = riwi-cine-backend
APP_PORT = 3000

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB

NODE_ENV = development

JWT_SECRET = 8bab63136d863a62cf045ff910dc28878c24ed7f5f9da6ba3c8e9f5cf42fb8d0
JWT_EXPIRES_IN = 1d