DB_CONTAINER_NAME = riwi-cine-db
POSTGRES_USER = nodejs
POSTGRES_PASSWORD = 123456
POSTGRES_DB = postgres
POSTGRES_PORT = 5432

APP_CONTAINER_NAME = riwi-cine-backend
APP_PORT = 3000

DB_CPU_LIMIT = 2
DB_MEM_LIMIT = 512MB

APP_CPU_LIMIT = 2
APP_MEM_LIMIT = 512MB

NODE_ENV = development

JWT_SECRET = super_secret_jwt
JWT_EXPIRES_IN = 1d

REFRESH_SECRET=TU_NUEVO_SECRETO
REFRESH_EXPIRES_IN=7d
